<div class="container">
	<div class="row">
		<div class="col-md-2">
			<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;Regresar'), edit_admin_survey_path(@surveys.id), class: "btn btn-secondary", title:"Regresar a todas las encuestas" %>
		</div>
		<div class="col-md-8">
			<h4 class="text-center"><b><i class="fas fa-list"></i></b>&nbsp;Secciones y Preguntas<br><br><b><%= @surveys.name %></b></h4>
		</div>
		<div class="col-12 text-center">
			<br>
			<!-- Botón modal Secciones -->
			<%= link_to raw('<i class="fas fa-plus-circle"></i>&nbsp;Agregar Seccion'), new_section_admin_section_path(),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-section', class: 'btn btn-primary'}  %>

			<!-- Botón modal Preguntas -->
			<%= link_to raw('<i class="fas fa-plus-circle"></i>&nbsp;Agregar Pregunta'), new_question_admin_question_path(),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-question', class: 'btn btn-primary'}  %>
		</div>
	</div>
	<br>
</div>
<br>
<div class="container">
	<h5><b>Secciones de la encuesta:</b></h5><br>
	<table class="datatable table table-responsive">
		<thead class="container-fluid">
			<tr class="bg-aqua">
				<th width="7%" class="text-center white-color">N°</th>
				<th width="43%" class="text-left white-color">Nombre de la sección</th>
				<th width="20%" class="text-center white-color">BRECHA Ideal</th>
				<th width="10%" class="text-center white-color">Estado</th>
				<th width="20%" class="text-center white-color">Fecha de creación</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%- @surveys.sections.order('id ASC').each_with_index do |s,index| %>
				<tr class="bd-lightblue2">
					<td class="text-center"><b><%= index+1 %></b></td>
					<td class="survey_section"><b><%= s.name rescue "" %></b></td>
					<td class="text-center"><b><%= s.gap_porcent rescue "" %> %</b></td>
					<td class="text-center"><b><%= s.status == true ? 'Publicada' : 'Oculta' %></b></td>
					<td class="text-center"><b><%= s.created_at.strftime("%d-%m-%Y") %></b></td>
					<td><%= link_to "<i class='fas fa-edit'></i>".html_safe, edit_admin_section_path(s), class: "btn btn-edit" %></td>
					<td><%= link_to "<i class='fas fa-trash-alt' aria-hidden='true'></i>".html_safe, admin_section_path(s), method: :delete, data: {:confirm => "¿Esta seguro de eliminar?" } , class: "btn btn-cancel"%></td>
				</tr>
				<tr class="bg-skin">
					<td></td>
					<td colspan="2"><b>Preguntas</b></td>
					<td class="text-center"><b>Tipo</b></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<%- s.questions.order('id ASC').each_with_index do |q,index| %>
					<tr>
						<td class=""></td>
						<td colspan="2"><%= q.question.html_safe rescue "" %></td>
						<td class="text-center"><%= q.question_type rescue "" %></td>
						<td class="text-center"><%= link_to "<i class='fas fa-edit orange-color'></i>".html_safe, edit_admin_question_path(q), class: "btn", title: "Editar pregunta" %></td>
						<td><%= link_to "<i class='fas fa-trash-alt' aria-hidden='true'></i>".html_safe, admin_question_path(q), method: :delete, data: {:confirm => "¿Esta seguro de eliminar?" } , class: "btn btn-cancel"%></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	   $(".datatable").DataTable({
      "language": {
        "lengthMenu": "Registros por página _MENU_",
        "zeroRecords": "Registros no encontrados.",
        "info": "Página _PAGE_ de _PAGES_",
        "infoEmpty": "No hay registros.",
        "infoFiltered": "(Filtrado de _MAX_ total de registros.)",
        "search": "_INPUT_",
      	"searchPlaceholder": "Buscar...",
        "paginate": {
		      "previous": "Anterior",
		      "next": "Siguiente"
		    }
		  }
  	});
	} );
</script>
<!-- Section modal -->
<div id="modal-section" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="row">
  	<div class="col-md-8 offset-md-2">
  		<div class="modal-dialog" role="document">
		    <div class="modal-content"></div>
		  </div>
  	</div>
  </div>
</div>
<!-- Question modal -->
<div id="modal-question" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="row">
  	<div class="col-md-8 offset-md-2">
  		<div class="modal-dialog" role="document">
		    <div class="modal-content"></div>
		  </div>
  	</div>
  </div>
</div>