<div class="container">
	<div class="row">
		<div class="col-md-2">
			<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;Regresar'), :back, class: "btn btn-secondary", title:"Regresar a todas las encuestas" %>
		</div>
		<div class="col-md-8">
			<h4 class="text-center"><b><i class="fas fa-clipboard-list"></i></b>&nbsp;Editar Sección<br><br><b><%= Survey.find(@section.survey_id).name rescue nil %> - <%= @section.name %></b></h4>
		</div>
	</div>
	<br>
	<%= simple_form_for [:admin, @section] do |f| %>
		<br>
		<%= render partial: "admin/sections/partials/form", locals: { f: f } %>
		<div class="text-center">
			<%= f.submit ("Guardar sección") , class: "btn btn-primary", title: "Guardar datos" %>
    	<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;Regresar'), admin_surveys_path, class: "btn btn-secondary", title:"Regresar a todas las encuestas" %>
		</div>
		<br>
	<% end %>
</div>