<div class="container">
	<div class="row">
		<div class="col-md-4">
			<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;Regresar'), admin_guides_path, class: "btn btn-secondary", title:"Regresar a todas las guías" %>
		</div>
		<div class="col-md-4">
			<h4 class="text-center"><b><i class="fas fa-file-pdf"></i></b>&nbsp;Nueva Guía</h4>
		</div>
	</div>
	<br>
	<%= simple_form_for [:admin, @guides] do |f| %>
		<br>
		<%= render partial: "admin/guides/partials/form", locals: { f: f } %>
		<div class="text-center">
			<%= f.submit ("Guardar guía") , class: "btn btn-primary", title: "Guardar datos" %>
    	<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;Regresar'), admin_guides_path, class: "btn btn-secondary", title:"Regresar a todas las guías" %>
		</div>
		<br>
	<% end %>
</div>