<!-- Header container -->
<%= render "home/partials/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="darkblue-color">
        <b><%= @user.organization_name %> /</b> <small><%= @survey.name.html_safe rescue "" %></small>
      </h4>
    </div>
    <div class="col-lg-6 text-right">
      <% if params[:survey].to_i == @last_survey_id %>
          <%= link_to raw('<i class="fas fa-file-pdf"></i>&nbsp;&nbsp;Generar PDF'),
                      results_home_path(survey: params[:survey], user_email: params[:user_email], counter: params[:counter], format: :pdf ),
                      class: "btn bg-orange white-color",
                      title:"Crear PDF de los resultados obtenidos",
                      target: "_blank" %>
        <% end %>

        <%= link_to raw('<i class="fas fa-arrow-circle-left"></i> Regresar'),
                    records_home_path(survey: params[:survey], user_email: current_user.email),
                    class: "btn btn-secondary",
                    title:"Regresar a todos los diagnósticos" %>

        <%= link_to raw('<i class="fas fa-list"></i> Diagnósticos'),
                    home_index_path,
                    class: "btn btn-secondary",
                    title:"Regresar a todos los diagnósticos" %>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 50px; padding-bottom: 50px">
  <div class="row">
    <div class="col-2 text-danger" style="padding-top: 10px">
      <h5>RESULTADOS<br>PRELIMINARES</h5>
    </div>
    <div class="col-10">
      <%= render partial: "home/partials/historic_org_user", locals: {
        survey: @survey,
        user: @user
      } %>
    </div>
  </div>
</div>
<hr style="margin-bottom: 50px">
<div class="container">
  <div class="row">
    <!-- Secciones -->
    <% @sections.each_with_index  do |section, sectionIndex| %>

      <!-- Resultados de question array -->
      <% if section.is_numeric() %>
        <%= render partial: "home/partials/historic_answers",
                   locals: {
                     sectionIndex: sectionIndex,
                     section: section,
                     user_answers: @user_answers,
                   } %>

        <!-- Rango de Numeros -->
      <% elsif section.is_range %>
        <%= render partial: "home/partials/historic_answers_range",
                   locals: {
                     section: section,
                     user_answers: @user_answers,
                   } %>

        <!-- Checkbox -->
      <% elsif section.is_checkbox  %>
        <%= render partial: "home/partials/historic_answers_checkbox",
                   locals: {
                     section: section,
                     user_answers: @user_answers,
                   } %>
      <% end %>
    <% end %>
    <!-- Array de secciones - End -->
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <% if @survey.id.to_i == @last_survey_id.to_i %>
        <%= link_to raw('<i class="fas fa-file-pdf"></i>&nbsp;&nbsp;Generar PDF'),
                    results_home_path(
                      survey: @survey.id,
                      user_email: @user.email,
                      counter: @counter,
                      format: :pdf
                    ),
                    class: "btn bg-orange white-color",
                    title:"Crear PDF de los resultados obtenidos",
                    target: "_blank" %>
      <% end %>
    </div>
  </div>
</div>
<br><br>


<script type="text/javascript">
	$(document).ready(function(){
		$( ".highcharts-negative" ).addClass('red-chart');
		$( ".ideal div div svg g g rect:nth-child(2)" ).addClass( "lightblue-chart" );
		$( ".max div div svg g g rect:nth-child(2)" ).addClass( "orange-chart" );
		$( ".normal div div svg g g rect:nth-child(2)" ).addClass( "blue-chart" );
	});
</script>