<!-- Header container -->
<%= render "home/partials/navbar"%>

<!-- Barra de opciones -->
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3 text-center">

			<!-- Enlaces -->
			<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;Todos los diagnósticos'), home_index_path, class: "btn btn-secondary", title:"Regresar a todos los diagnósticos" %>

			<% last_survey = Survey.where(status: true).last.id %>
			<% if params[:survey].to_i == last_survey.to_i %>
				<%= link_to raw('<i class="fas fa-file-pdf"></i>&nbsp;&nbsp;Generar PDF'), results_home_path(survey: params[:survey], user_email: params[:user_email], counter: params[:counter], format: :pdf ), class: "btn bg-orange white-color", title:"Crear PDF de los resultados obtenidos", target: "_blank" %>
			<% else %>
				<% next_id = params[:survey] %>
				<%= link_to raw('<i class="fas fa-pen-alt"></i>&nbsp;&nbsp;Ir al siguiente eje'), home_path(next_id.to_i+1),  class:"btn btn-primary" %>
			<% end %>

		</div>
	</div>
</div>

<!-- Datos de la organización y usuario -->
<div class="container">
	<h4 class="text-center">
		<br><br>
		<b><%= Survey.where(id: params[:survey]).last.name.html_safe rescue "" %></b>
		<br>
	</h4>
	 <% @date = Answer.where(survey: params[:survey], user_email: params[:user_email]).last.created_at %>
  <h6 class="text-center">
  	Fecha: <b><%= @date.strftime("%d-%m-%Y") %></b>
  	<br><br>
  </h6>
  <h5 class="text-center darkblue-color">
  	<b><%= User.where(email: params[:user_email]).last.organization_name %></b>
  	<br>
  </h5>
	<div class="row">
		<div class="col-md-4 text-center">
			<p>
				<small>1. Representante de la Organización</small>
			</p>
      <h6>
      	<b><%= User.where(email: params[:user_email]).last.name %></b>
      </h6>
		</div>
		<div class="col-md-4 text-center">
			<p>
				<small>2. Correo electrónico</small>
			</p>
      <h6>
      	<b><%= User.where(email: params[:user_email]).last.email %></b>
      </h6>
		</div>
		<div class="col-md-2 text-center">
			<p>
				<small>3. País</small>
			</p>
      <h6>
      	<b><%= User.where(email: params[:user_email]).last.country_name %></b>
      </h6>
		</div>
		<div class="col-md-2 text-center">
			<p>
				<small>4. Número de teléfono</small>
			</p>

      <% @phone = User.where(email: params[:user_email]).last.phone_number %>
      <% if @phone.nil? %>
        <h6>
        	<b><%= User.where(email: params[:user_email]).last.zipcode %> <%= User.where(email: params[:user_email]).last.phone_number %></b>
        </h6>
      <% else %>
        <h6>
        	<b><%= User.where(email: params[:user_email]).last.zipcode %> <%= User.where(email: params[:user_email]).last.phone_number %></b>
        </h6>
      <% end %>
		</div>
	</div>
</div>
<div class="container">
	<h4 class="text-center">
		<br><br>
		<b>RESULTADOS PRELIMINARES</b>
		<br><br>
	</h4>
</div>
<div class="container">
	<div class="row">
		<!-- Secciones -->
		<% Section.where(survey_id: params[:survey]).order('id ASC').each_with_index  do |s, i| %>

			<!-- Variables array -->
			<% answerQuestion_array = [] %>
			<% questionType_array = [] %>
			<% resultType_array = [] %>
			<% resultAnswer_array = [] %>

			<!-- Preguntas -->
			<% Question.where(section_id: s.id).order('id ASC').each  do |q| %>
				
				<!-- answer array -->
					<% questionType_array << q.question_type %>

				<!-- Array de respuestas - Begin -->
					<% Answer.where(question_id: q.id).order('id ASC').each do |a| %>

					<!-- Asignando los resultados al array_answer -->
					<% answerQuestion_array << a.answer_question %>

				<% end %>
	   	<% end %>
			
			<!-- Resultados de question array -->
			<% if questionType_array.include?("Número") || questionType_array.include?("Moneda") || questionType_array.include?("Decimal") && questionType_array.include?("Checkbox No data")  %>

				<!-- Ńúmeros y Checkbox No Data Questions -->
				<% if answerQuestion_array.include?("No data") %>
				<div class="col-12">
					<!-- Nombre de la sección -->
					<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
					<%= s.recommendation_no_data.html_safe rescue "" %>
				</div>
				<% elsif answerQuestion_array.include?("Data") %>
						<% if answerQuestion_array.include?("Confirm") %>
							<% Question.where(section_id: s.id, question_type: "Checkbox").order('id ASC').each  do |qa| %>
								<div class="col-12">
									<!-- Nombre de la sección -->
									<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
									<%= qa.question.html_safe rescue "" %>
								</div>
							<% end %>
						<% elsif answerQuestion_array.include?("No confirm") %>
							<% if answerQuestion_array[0].to_f == 0 && answerQuestion_array[1].to_f == 0 %>
								<div class="col-12">
									<!-- Nombre de la sección -->
									<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
									<p class="text-left"><small>No brindaste una respuesta a esta pregunta</small></p>
								</div>
							<% else %>
								<div class="col-12">
									<!-- Nombre de la sección -->
									<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
								</div>

								<!-- Calculo -->
								<% @brecha = (((answerQuestion_array[0].to_f-answerQuestion_array[1].to_f)/(answerQuestion_array[0].to_f+answerQuestion_array[1].to_f))*100).to_f %>

								<!-- Mensaje de alerta_-->
			   				<% if @brecha.to_f >= 0 && @brecha.to_f > (s.gap_max).to_f %>

			   					<!-- Gráfico -->
			   					<div class="col-md-8 offset-md-2 max">	
										<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
										<br>
									</div>
			   					<div class="col-12">
			   						<%= s.recommendation_gap_max.html_safe rescue "" %>
			   						<br><br>
			   				</div>
			   				<% elsif @brecha.to_f >= 0 && @brecha.to_f >= (s.gap_porcent).to_f  && @brecha.to_f <= (s.gap_max).to_f %>

			   					<!-- Gráfico -->
			   					<div class="col-md-8 offset-md-2 normal">
										<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
										<br>
									</div>
									<div class="col-12">
			   						<%= s.recommendation.html_safe %>
			   						<br><br>
			   					</div>
			   				<% elsif @brecha.to_f < 0 %>
			   					<!-- Gráfico -->
			   					<div class="col-md-8 offset-md-2 negative">
			   						<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   						<br><br>
			   					</div>
			   					<div class="col-12">
			   						<%= s.recommendation_negative.html_safe rescue "" %>
			   						<br><br>
			   					</div>
			   				<% else %>
			   					<!-- Gráfico -->
			   					<div class="col-md-8 offset-md-2 ideal">
										<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
										<br>
									</div>
									<div class="col-12">
			   						<h5 class="text-center"><b>¡Buen trabajo!</b></h5>
			   						<br>
			   					</div>
			   				<% end %>
							<% end %>
						
						<% else %>
							<% if answerQuestion_array[0].to_f == 0 && answerQuestion_array[1].to_f == 0 %>
								<div class="col-12">
									<!-- Nombre de la sección -->
									<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
									<p class="text-left"><small>No brindaste una respuesta a esta pregunta</small></p>
								</div>
							<% else %>
								<div class="col-12">
									<!-- Nombre de la sección -->
									<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
								</div>

								<!-- Calculo -->
								<% @brecha = (((answerQuestion_array[0].to_f-answerQuestion_array[1].to_f)/(answerQuestion_array[0].to_f+answerQuestion_array[1].to_f))*100).to_f %>

								<!-- Mensaje de alerta_-->
			   				<% if @brecha.to_f >= 0 && @brecha.to_f > (s.gap_max).to_f %>
			   					<div class="col-md-8 offset-md-2 max">
			   						<!-- Gráfico -->
										<%= bar_chart [["BRECHA PROMEDIO (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   						<br>
			   					</div>
			   					<div class="col-12">
			   						<%= s.recommendation_gap_max.html_safe rescue "" %>
			   						<br><br>
			   					</div>
			   				<% elsif @brecha.to_f >= 0 && @brecha.to_f >= (s.gap_porcent).to_f  && @brecha.to_f <= (s.gap_max).to_f %>
			   					<div class="col-md-8 offset-md-2 normal">
				   					<!-- Gráfico -->
										<%= bar_chart [["BRECHA PROMEDIO (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
				   					<br>
				   				</div>
				   				<div class="col-12">
				   					<%= s.recommendation.html_safe %>
				   					<br><br>
				   				</div>
			   				<% elsif @brecha.to_f < 0 %>
			   					<div class="col-md-8 offset-md-2 negative">
			   						<%= bar_chart [["BRECHA PROMEDIO (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   						<br>
			   					</div>
			   					<div class="col-12">
				   					<%= s.recommendation_negative.html_safe rescue "" %>
				   					<br><br>
				   				</div>
			   				<% else %>
			   					<div class="col-md-8 offset-md-2 ideal">
			   						<!-- Gráfico -->
										<%= bar_chart [["BRECHA PROMEDIO (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   						<br>
			   					</div>
			   					<div class="col-12">
			   						<h5 class="text-center"><b>¡Buen trabajo!</b></h5>
			   						<br>
			   					</div>
			   				<% end %>
							<% end %>
						<% end %>
				<% else %>

				<% end %>


			<!-- Rango de Numeros -->
			<% elsif questionType_array.include?("Rango de Numeros") %>
				<% Question.where(section_id: s.id).order('id ASC').each_with_index  do |q, number| %>
					<div class="col-12">
						<br>
						<h6 class="text-center" style="text-transform: uppercase; color: #1E4051; text-align: left !important; font-style:normal !important; "><b><%= q.question.html_safe rescue "" %></b></h6>
						<% Answer.where(question_id: q.id).order('id ASC').each do |a| %>
							<% case a.answer_question %>
								<% when "1" %>
									<%= pie_chart [["Hombres", "0"],["Mujeres", "100"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad exclusiva para mujeres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "2" %>
									<%= pie_chart [["Hombres", "25"],["Mujeres", "75"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad donde participan más las mujeres que los hombres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "3" %>
									<%= pie_chart [["Hombres", "50"],["Mujeres", "50"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad donde la participación de hombres y mujeres es equitativa (50/50)</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "4" %>
									<%= pie_chart [["Hombres", "75"],["Mujeres", "25"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad donde participan más los hombres que las mujeres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "5" %>
									<%= pie_chart [["Hombres", "100"],["Mujeres", "0"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad exclusiva para hombres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% else %>

								<% end %>
							<br>
						<% end %>
					</div>
				<% end %>
			
			<!-- Checkbox -->
			<% elsif questionType_array.include?("Checkbox")  %>
					<% Question.where(section_id: s.id).order('id ASC').each do |qq| %>
						<div class="col-md-2 lpi-item text-center">
							<small class="question-item"><%= qq.question.html_safe %></small>
							<p><b>Resultado:</b></p>
							<% Answer.where(question_id: qq.id, counter: params[:counter]).order('id ASC').each do |a| %>
								<% if qq.id == 127 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/igualdad2.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons", title: "La organización si cuenta con una estrategia y política de género") %>
										<br><br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/igualdad2.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img", class:"img-fluid answer-icons", title: "La organización no cuenta con una estrategia y política de género") %>
										<br><br>
										<h6 class="text-center"><b>¡Se necesita mejorar!</b></h6>
										<br>
									<% end %>
								<% elsif qq.id == 128 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/politico.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons", class:"img-fluid answer-icons", title: "La organización si esta implementando la política bajo una estrategia de género") %>
										<br><br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/politico.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img", title: "La organización no esta implementando la política bajo una estrategia de género") %>
										<br><br>
										<h6 class="text-center"><b>¡Se necesita mejorar!</b></h6>
										<br>
									<% end %>
								<% elsif qq.id == 129 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/mujer.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons", title: "La organización si cuenta con políticas de crédito diferenciadas para mujeres") %>
										<br><br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/mujer.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img", title: "La organización no cuenta con políticas de crédito diferenciadas para mujeres") %>
										<br><br>
										<h6 class="text-center"><b>¡Se necesita mejorar!</b></h6>
									<% end %>
								<% elsif qq.id == 130 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/dinero.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img", title: "La organización si brinda financiamiento") %>
										<h6 class="text-center"><b>No se brinda financiamiento</b></h6>
									<% else %>
										<%= image_tag("/images/dinero.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons", title: "La organización si brinda financiamiento") %>
										<br><br>
										<h6 class="text-center"><b>¡Si se brinda!</b></h6>
									<% end %>
								<% elsif qq.id == 131 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/garantia.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons", title: "La organización si usa lenguaje inclusivo y sin discriminación en: Estatutos, Reglamentos, Políticas, Actas, Sistemas de Control Interno, Sistemas de Gestion Interna") %>
										<br><br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/garantia.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img", title: "La organización no usa lenguaje inclusivo y sin discriminación en: Estatutos, Reglamentos, Políticas, Actas, Sistemas de Control Interno, Sistemas de Gestion Interna") %>
										<br><br>
										<h6 class="text-center"><b>¡Se necesita mejorar!</b></h6>
									<% end %>
								<% else %>

								<% end %>
							<% end %>
							
							<br><br>
						</div>
					<% end %>

			<% else %>

			<% end %>
		<% end %>
		<!-- Array de secciones - End -->
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3 text-center">
			<% last_survey = Survey.where(status: true).last.id %>
			<% if params[:survey].to_i == last_survey.to_i %>
				<%= link_to raw('<i class="fas fa-file-pdf"></i>&nbsp;&nbsp;Generar PDF'), results_home_path(survey: params[:survey], user_email: params[:user_email], counter: params[:counter], format: :pdf ), class: "btn bg-orange white-color", title:"Crear PDF de los resultados obtenidos", target: "_blank" %>
			<% else %>
				<% next_id = params[:survey] %>
				<%= link_to raw('<i class="fas fa-pen-alt"></i>&nbsp;&nbsp;Ir al siguiente eje'), home_path(next_id.to_i+1),  class:"btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
<br><br>
<script type="text/javascript">
	$(document).ready(function(){
		$( ".highcharts-negative" ).addClass('red-chart');
		$( ".ideal div div svg g g rect:nth-child(2)" ).addClass( "lightblue-chart" );
		$( ".max div div svg g g rect:nth-child(2)" ).addClass( "orange-chart" );
		$( ".normal div div svg g g rect:nth-child(2)" ).addClass( "blue-chart" );
	});
</script>
