<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= Survey.where(id: params[:survey]).last.name %></title>
  <%= wicked_pdf_stylesheet_link_tag "application", media: "all" %>
  <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi"%>
  <%= wicked_pdf_javascript_include_tag "chartkick"%>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" %>

</head>
<body>  

<div class="container">
  <div class="row">
    <div class="col-4 offset-4 text-center">
      <%= wicked_pdf_image_tag "lwr-logotag.png", class: "img-fluid" %>
    </div>
  </div>
  <br><br>
  <h4 class="text-center"><b><i><%= Survey.where(id: params[:survey]).last.name.html_safe rescue "" %></i></b></h4>
  <br>
  <% @date = Answer.where(survey: params[:survey], user_email: params[:user_email]).last.created_at %>
  <h6 class="text-center">Fecha: <b><%= @date.strftime("%d-%m-%Y") %></b></h6>
  <h5 class="text-center darkblue-color"><b><%= User.where(email: params[:user_email]).last.organization_name %></b></h5>
</div>
<div class="container">
  <br>
  <table class="table">
    <tbody>
      <tr>
        <td class="text-center" style="border: 0px !important;" width="30%">
          <h6>1. Nombre</h6>
          <h6><b><%= User.where(email: params[:user_email]).last.name %></b></h6>
        </td>
        <td class="text-center" style="border: 0px !important;" width="30%">
          <h6>2. Correo electrónico</h6>
          <h6><b><%= User.where(email: params[:user_email]).last.email %></b></h6>
        </td>
        <td class="text-center" style="border: 0px !important;" width="10%">
          <h6>3.País</h6>
          <h6><b><%= User.where(email: params[:user_email]).last.country %></b></h6>
        </td>
        <td class="text-center" style="border: 0px !important;" width="20%">
          <h6>4. Número de teléfono</h6>
          <% @phone = User.where(email: params[:user_email]).last.phone_number %>
          <% if @phone.nil? %>
            <h6><b><%= User.where(email: params[:user_email]).last.zipcode %> <%= User.where(email: params[:user_email]).last.phone_number %></b></h6>
          <% else %>
            <h6><b><%= User.where(email: params[:user_email]).last.zipcode %> <%= User.where(email: params[:user_email]).last.phone_number %></b></h6>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <br><br>
  <h5 class="text-center"><b>RESULTADOS OBTENIDOS</b></h5>
  <br><br>
  <div class="row">
    <!-- Secciones -->
    <% Section.where(survey_id: params[:survey]).order('id ASC').each_with_index  do |s, i| %>

      <!-- Variables array -->
      <% answerQuestion_array = [] %>
      <% questionType_array = [] %>
      <% resultType_array = [] %>
      <% resultAnswer_array = [] %>

      <!-- Preguntas -->
      <% Question.where(section_id: s.id).order('id ASC').each  do |q| %>
        
        <!-- answer array -->
          <% questionType_array << q.question_type %>

        <!-- Array de respuestas - Begin -->
          <% Answer.where(question_id: q.id).order('id ASC').each do |a| %>

          <!-- Asignando los resultados al array_answer -->
          <% answerQuestion_array << a.answer_question %>

        <% end %>
      <% end %>
      
      <!-- Resultados de question array -->
      <% if questionType_array.include?("Número") || questionType_array.include?("Moneda") || questionType_array.include?("Decimal") && questionType_array.include?("Checkbox No data")  %>

        <!-- Ńúmeros y Checkbox No Data Questions -->
        <% if answerQuestion_array.include?("No data") %>
        <div class="col-12">
          <!-- Nombre de la sección -->
          <h4 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h4>
          <%= s.recommendation_no_data.html_safe rescue "" %>
        </div>
        <% elsif answerQuestion_array.include?("Data") %>
          <div class="col-12">
            <% if answerQuestion_array.include?("Confirm") %>
              <% Question.where(section_id: s.id, question_type: "Checkbox").order('id ASC').each  do |qa| %>
                <!-- Nombre de la sección -->
                <h4 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h4>
                <h5 class="text-left"><%= qa.question.html_safe rescue "" %></h5>
                <br>
              <% end %>
            <% elsif answerQuestion_array.include?("No confirm") %>
              <% if answerQuestion_array[0].to_f == 0 && answerQuestion_array[1].to_f == 0 %>
                <!-- Nombre de la sección -->
                <h4 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h4>
                <h5 class="text-left"><small>Ambas cantidades son igual a cero por favor verifique los datos</small></h5>
                <br>
              <% else %>
                <!-- Nombre de la sección -->
                <h4 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h4>
                <!-- Calculo -->
                <% @brecha = (((answerQuestion_array[0].to_f-answerQuestion_array[1].to_f)/(answerQuestion_array[0].to_f+answerQuestion_array[1].to_f))*100).to_f %>

                <!-- Mensaje de alerta_-->
                <% if @brecha.to_f >= 0 && @brecha.to_f > (s.gap_max).to_f %>
                  <!-- Gráfico -->
                <h6 class="text-center"><b>BRECHAS</b></h6>
                <%= bar_chart [["IDEAL (%)", s.gap_porcent.to_s],["OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px" %>
                  <br>
                  <%= s.recommendation_gap_max.html_safe rescue "" %>
                  <br><br>
                <% elsif @brecha.to_f >= 0 && @brecha.to_f >= (s.gap_porcent).to_f  && @brecha.to_f <= (s.gap_max).to_f %>
                  <!-- Gráfico -->
                  <h6 class="text-center"><b>BRECHAS</b></h6>
                  <%= bar_chart [["IDEAL (%)", s.gap_porcent.to_s],["OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px" %>
                  <br>
                  <%= s.recommendation.html_safe %>
                  <br><br>
                <% elsif @brecha.to_f < 0 %>
                  <br>
                  <%= s.recommendation_negative.html_safe rescue "" %>
                  <br><br>
                <% else %>
                <!-- Gráfico -->
                  <h6 class="text-center"><b>BRECHAS</b></h6>
                  <%= bar_chart [["IDEAL (%)", s.gap_porcent.to_s],["OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px" %>
                  <br>
                  <h5 class="text-center"><b>¡Buen trabajo!</b></h5>
                  <br>
                <% end %>
              <% end %>
            
            <% else %>
              <% if answerQuestion_array[0].to_f == 0 && answerQuestion_array[1].to_f == 0 %>
                <!-- Nombre de la sección -->
                <h4 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h4>
                <h5 class="text-left"><small>Ambas cantidades son igual a cero por favor verifique los datos</small></h5>
                <br>
              <% else %>
                <!-- Nombre de la sección -->
                <h4 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h4>
                <!-- Calculo -->
                <% @brecha = (((answerQuestion_array[0].to_f-answerQuestion_array[1].to_f)/(answerQuestion_array[0].to_f+answerQuestion_array[1].to_f))*100).to_f %>

                <!-- Mensaje de alerta_-->
                <% if @brecha.to_f >= 0 && @brecha.to_f > (s.gap_max).to_f %>
                  <!-- Gráfico -->
                <h6 class="text-center"><b>BRECHAS</b></h6>
                <%= bar_chart [["IDEAL (%)", s.gap_porcent.to_s],["OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px" %>
                  <br>
                  <%= s.recommendation_gap_max.html_safe rescue "" %>
                  <br><br>
                <% elsif @brecha.to_f >= 0 && @brecha.to_f >= (s.gap_porcent).to_f  && @brecha.to_f <= (s.gap_max).to_f %>
                  <!-- Gráfico -->
                  <h6 class="text-center"><b>BRECHAS</b></h6>
                  <%= bar_chart [["IDEAL (%)", s.gap_porcent.to_s],["OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px" %>
                  <br>
                  <%= s.recommendation.html_safe %>
                  <br><br>
                <% elsif @brecha.to_f < 0 %>
                  <br>
                  <%= s.recommendation_negative.html_safe rescue "" %>
                  <br><br>
                <% else %>
                <!-- Gráfico -->
                  <h6 class="text-center"><b>BRECHAS</b></h6>
                  <%= bar_chart [["IDEAL (%)", s.gap_porcent.to_s],["OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px" %>
                  <br>
                  <h5 class="text-center"><b>¡Buen trabajo!</b></h5>
                  <br>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% else %>

        <% end %>


      <!-- Rango de Numeros -->
      <% elsif questionType_array.include?("Rango de Numeros") %>
        <% Question.where(section_id: s.id).order('id ASC').each_with_index  do |q, number| %>
          <div class="col-12">
            <br>
            <h5 class="text-center darkblue-color"><b>PREGUNTA <%= number+1 %></b></h5><br>
            <h6 class="text-center"><b><i><%= q.question.html_safe rescue "" %></i></b></h6>
            <div class="col-12 text-center">
              <% Answer.where(question_id: q.id).order('id ASC').each do |a| %>
                <% case a.answer_question %>
                  <% when "1" %>
                    <%= pie_chart [["Hombres", "0"],["Mujeres", "100"]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px"  %>
                    <p class="text-center aqua-color"><b>Actividad exclusiva para mujeres</b></p>
                    <br>
                    <p><b>Recomendación:</b></p>
                    <%= q.recommendation.html_safe rescue "" %>
                  <% when "2" %>
                    <%= pie_chart [["Hombres", "25"],["Mujeres", "75"]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px"  %>
                    <p class="text-center aqua-color"><b>Actividad donde participan más las mujeres que los hombres</b></p>
                    <br>
                    <p><b>Recomendación:</b></p>
                    <%= q.recommendation.html_safe rescue "" %>
                  <% when "3" %>
                    <%= pie_chart [["Hombres", "50"],["Mujeres", "50"]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px"  %>
                    <p class="text-center aqua-color"><b>Actividad donde la participación de hombres y mujeres es equitativa (50/50)</b></p>
                    <br>
                    <p><b>Recomendación:</b></p>
                    <%= q.recommendation.html_safe rescue "" %>
                  <% when "4" %>
                    <%= pie_chart [["Hombres", "75"],["Mujeres", "25"]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px"  %>
                    <p class="text-center aqua-color"><b>Actividad donde participan más los hombres que las mujeres</b></p>
                    <br>
                    <p><b>Recomendación:</b></p>
                    <%= q.recommendation.html_safe rescue "" %>
                  <% when "5" %>
                    <%= pie_chart [["Hombres", "100"],["Mujeres", "0"]], colors: ["#9FD52E", "#666"], stacked: true, width: "1024px"  %>
                    <p class="text-center aqua-color"><b>Actividad exclusiva para hombres</b></p>
                    <br>
                    <p><b>Recomendación:</b></p>
                    <%= q.recommendation.html_safe rescue "" %>
                  <% else %>

                  <% end %>
                <br>
              <% end %>
            </div>
          </div>
        <% end %>
      
      <!-- Checkbox -->
      <% elsif questionType_array.include?("Checkbox")  %>
          <% Question.where(section_id: s.id).order('id ASC').each do |qq| %>
            <div class="text-center">
              <% Answer.where(question_id: qq.id).order('id ASC').each do |a| %>
                <% if qq.id == 127 %>
                  <% if a.answer_question == "Confirm" %>
                    <%= wicked_pdf_image_tag "igualdad2.png", class: "img-fluid answer-icons" %>
                    <br><br>
                    <h6 class="text-center"><b>¡Buen trabajo!</b></h6>
                  <% else %>
                    <%= wicked_pdf_image_tag "igualdad2.png", class: "img-fluid answer-icons gray-img" %>
                    <br><br>
                  <% end %>
                <% elsif qq.id == 128 %>
                  <% if a.answer_question == "Confirm" %>
                    <%= wicked_pdf_image_tag "politico.png", class: "img-fluid answer-icons" %>
                    <br><br>
                    <h6 class="text-center"><b>¡Buen trabajo!</b></h6>
                  <% else %>
                    <%= wicked_pdf_image_tag "politico.png", class: "img-fluid answer-icons gray-img" %>
                    <br><br>
                  <% end %>
                <% elsif qq.id == 129 %>
                  <% if a.answer_question == "Confirm" %>
                    <%= wicked_pdf_image_tag "mujer.png", class: "img-fluid answer-icons" %>
                    <br><br>
                    <h6 class="text-center"><b>¡Buen trabajo!</b></h6>
                  <% else %>
                    <%= wicked_pdf_image_tag "mujer.png", class: "img-fluid answer-icons gray-img" %>
                    <br><br>
                  <% end %>
                <% elsif qq.id == 130 %>
                  <% if a.answer_question == "Confirm" %>
                    <%= wicked_pdf_image_tag "dinero.png", class: "img-fluid answer-icons gray-img" %>
                    <br><br>
                  <% else %>
                    <%= wicked_pdf_image_tag "dinero.png", class: "img-fluid answer-icons" %>
                    <br><br>
                    <h6 class="text-center"><b>¡Buen trabajo!</b></h6>
                  <% end %>
                <% elsif qq.id == 131 %>
                  <% if a.answer_question == "Confirm" %>
                    <%= wicked_pdf_image_tag "garantia.png", class: "img-fluid answer-icons" %>
                    <br><br>
                    <h6 class="text-center"><b>¡Buen trabajo!</b></h6>
                  <% else %>
                    <%= wicked_pdf_image_tag "garantia.png", class: "img-fluid answer-icons gray-img" %>
                    <br><br>
                  <% end %>
                <% else %>

                <% end %>
              <% end %>
              <%= qq.question.html_safe %>
              <br><br>
            </div>
          <% end %>

      <% else %>

      <% end %>
    <% end %>
    <!-- Array de secciones - End -->
  </div>
</div>
<br><br>
  <% javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" %>
  <% javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js" %>

</body>
</html>