<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Resultados</title>
  
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  <%= javascript_include_tag "http://www.google.com/jsapi"%>
  <%= wicked_pdf_javascript_include_tag "chartkick"%>
  <%= stylesheet_link_tag "http://google.com google.pdf" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf.css" %>

  <style type="text/css">

    /*Grafics*/
    .lightblue-chart { fill: #31b5b5 !important; }
    .red-chart { fill: #FF0051 !important; }
    .blue-chart { fill: #1E4051 !important; }
    .orange-chart { fill: #FFC100 !important; }

    .negative g rect:nth-child(2) { fill: #FF0051 !important; }
    .ideal g rect:nth-child(2) { fill: #31b5b5 !important; }
    .max g rect:nth-child(2) { fill: #FFC100 !important; }
    .normal g rect:nth-child(2) { fill: #1E4051 !important; }
    .answer-icons { width: 100px; }

    .gray-img {
        -webkit-filter: grayscale(1) !important;
        -moz-filter: grayscale(1);
        -ms-filter: grayscale(1);
        -o-filter: grayscale(1);
        filter: gray !important;
    }

    table { margin-left: 2rem; margin-right: 2rem; }
    td { border: 0px !important; }

    .result { margin-bottom: 2rem; }

    @media print {

        .avoid-page-break {
            page-break-inside: avoid;
        }

        .new-page {
            page-break-before: always;
        }
    }

  </style>

</head>
<body>  

<div class="container">
  <div class="row">
    <div class="col-4 offset-4 text-center">
      <%= wicked_pdf_image_tag "images/lwr-logotag.png", class: "img-fluid" %>
      <br><br>
    </div>
  </div>
</div>
<div class="container">
  <h4 class="text-center"><b>CAJA DE HERRAMIENTAS DE GÉNERO</b></h4>
  <h6 class="text-center"><i>¡Construyendo comunidades equitativas y prósperas!</i></h6>
  <br>
  <h5 class="text-center" style="color: #000;">
    <br>
    <b>RESULTADOS OBTENIDOS</b>
  </h5>
  <% @date = @diagnostic.created_at %>
  <h6 class="text-center">
    Fecha: <b><%= @date.strftime("%d-%m-%Y") %></b>
  </h6>
</div>
<div class="container">
  <br>
  <table class="table">
    <tbody>
      <tr>
        <td colspan="3">
          <h6 class="text-left"><b>DATOS DE LA ORGANIZACIÓN</b></h6></td>
      </tr>
      <tr>
        <td class="text-left">
          <h6>1. Nombre de la organización:</h6>
          <h6 class="text-left darkblue-color"><b>&nbsp;&nbsp;&nbsp;<%= @user.organization_name %></b></h6>
        </td>
        <td class="text-left">
          <h6>2. Tipo de organización:</h6>
          <h6 class="text-left darkblue-color"><b>&nbsp;&nbsp;&nbsp;<%= @user.organization_type %></b></h6>
        </td>
        <td class="text-left">
          <h6>3. País</h6>
          <h6><b>&nbsp;&nbsp;&nbsp;<%= @user.country_name %></b></h6>
        </td>
      </tr>
      <tr>
        <td class="text-left">
          <h6>4. Representante de la Organización</h6>
          <h6><b>&nbsp;&nbsp;&nbsp;<%= @user.name %></b></h6>
        </td>
        <td class="text-left">
          <h6>5. Correo electrónico</h6>
          <h6><b>&nbsp;&nbsp;&nbsp;<%= @user.email %></b></h6>
        </td>
        <td class="text-left">
          <h6>6. Número de teléfono</h6>
          <h6><b>&nbsp;&nbsp;&nbsp;<%= @user.zipcode %> <%= @user.phone_number %></b></h6>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">
  <div style="margin-left: 2rem; margin-right: 2rem;">
    <!-- Survey - BEGIN -->
    <% surveys = Survey.where(status: true).order('id ASC') %>
    <% total_surveys = surveys.count %>

    <% surveys.each_with_index  do |survey, index_of| %>

      <h4 class="text-center" style="text-transform: uppercase; padding: 2rem;">
        <b><%= index_of+1 %>. <%= survey.name.html_safe rescue "" %></b>
      </h4>

      <% user_answers = UserAnswers.new(@user.email, survey.id, @diagnostic.id) %>
      <!-- Section - BEGIN -->
      <% sections = Section.where(survey_id: survey.id).order('id ASC') %>
      <% sections.each_with_index  do |section, sectionIndex| %>
          <!-- Results - BEGIN -->
          <% if section.is_numeric() %>
            <%= render partial: "home/partials/historic_answers",
                       :formats => [:html, :pdf],
                       locals: {
                         sectionIndex: sectionIndex,
                         section: section,
                         user_answers: user_answers,
                         render_format: 'pdf',
                       } %>

            <!-- Rango de Numeros -->
          <% elsif section.is_range %>
            <%= render partial: "home/partials/historic_answers_range",
                       locals: {
                         section: section,
                         user_answers: user_answers,
                         render_format: 'pdf',
                       } %>

            <!-- Checkbox -->
          <% elsif section.is_checkbox  %>
            <%= render partial: "home/partials/historic_answers_checkbox",
                       locals: {
                         section: section,
                         user_answers: user_answers,
                         render_format: 'pdf',
                       } %>
          <% end %>
          <!-- Results - END -->

      <% end %>
      <!-- Section - END -->
      <% if index_of < total_surveys - 1 %>
        <div style="page-break-before: always;"></div>
      <% end %>

    <% end %>
    <!-- Survey - END -->
  </div>
</div>
<br><br>
</body>
</html>