
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-6 text-right">
			<%= link_to "<i class='fa fa-id-card-alt' aria-hidden='true'></i> Sobre nosotros".html_safe, "https://lwr.org/about-lwr", class: "btn btn-outline-primary", target: "_blanck" %>
			<%= link_to "<i class='fa fa-envelope-open' aria-hidden='true'></i> Contactanos".html_safe, "https://lwr.org/contact-us", class: "btn btn-outline-primary", target: "_blanck" %>

			<% if user_signed_in? %>
				<%= link_to "<i class='fa fa-sign-out-alt' aria-hidden='true'></i> Salir".html_safe, destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
			<% end %>

		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 text-center">
			<br>
			<%= image_tag("/images/lwr-logotag.png", alt:"Lutheran World Relief", class:"img-fluid") %>
			<br><br>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3 text-center">
			<%= link_to raw('<i class="fas fa-pen-alt"></i>&nbsp;&nbsp;Realizar de nuevo'), :back,  class:"btn btn-primary" %>
			<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;&nbsp;Todas las encuestas'), home_index_path, class: "btn btn-secondary", title:"Regresar a todas las encuestas" %>
			<%= link_to raw('<i class="fas fa-file-pdf"></i>&nbsp;&nbsp;Generar PDF'), results_home_path(survey: params[:survey], user_email: params[:user_email], format: :pdf ), class: "btn bg-orange white-color", title:"Crear PDF de los resultados obtenidos", target: "_blank" %>
		</div>
	</div>
</div>

<div class="container">
	<br><br>
	<h4 class="text-center"><b><%= Survey.where(id: params[:survey]).last.name.html_safe rescue "" %></b></h4>
	<br>
	 <% @date = Answer.where(survey: params[:survey], user_email: params[:user_email]).last.created_at %>
  <h6 class="text-center">Fecha: <b><%= @date.strftime("%d-%m-%Y") %></b></h6>
  <h5 class="text-center darkblue-color"><b><%= User.where(email: params[:user_email]).last.organization_name %></b></h5>
  <br>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<p><small>1. Nombre Completo</small></p>
      <h6><b><%= User.where(email: params[:user_email]).last.name %></b></h6>
		</div>
		<div class="col-md-4 text-center">
			<p><small>2. Correo electrónico</small></p>
      <h6><b><%= User.where(email: params[:user_email]).last.email %></b></h6>
		</div>
		<div class="col-md-2 text-center">
			<p><small>3. País</small></p>
      <h6><b><%= User.where(email: params[:user_email]).last.country %></b></h6>
		</div>
		<div class="col-md-2 text-center">
			<p><small>4. Número de teléfono</small></p>
      <% @phone = User.where(email: params[:user_email]).last.phone_number %>
      <% if @phone.nil? %>
        <h6><b><%= User.where(email: params[:user_email]).last.zipcode %> <%= User.where(email: params[:user_email]).last.phone_number %></b></h6>
      <% else %>
        <h6><b><%= User.where(email: params[:user_email]).last.zipcode %> <%= User.where(email: params[:user_email]).last.phone_number %></b></h6>
      <% end %>
		</div>
	</div>
</div>
<br><br>
<div class="container">
	<br><h4 class="text-center"><b>RESULTADOS OBTENIDOS</b></h4><br><br>
</div>
<div class="container">
	<div class="row">
		<!-- Secciones -->
		<% Section.where(survey_id: params[:survey]).order('id ASC').each_with_index  do |s, i| %>

			<!-- Variables array -->
			<% answerQuestion_array = [] %>
			<% questionType_array = [] %>
			<% resultType_array = [] %>
			<% resultAnswer_array = [] %>

			<!-- Preguntas -->
			<% Question.where(section_id: s.id).order('id ASC').each  do |q| %>
				
				<!-- answer array -->
					<% questionType_array << q.question_type %>

				<!-- Array de respuestas - Begin -->
					<% Answer.where(question_id: q.id).order('id ASC').each do |a| %>

					<!-- Asignando los resultados al array_answer -->
					<% answerQuestion_array << a.answer_question %>

				<% end %>
	   	<% end %>
			
			<!-- Resultados de question array -->
			<% if questionType_array.include?("Número") || questionType_array.include?("Moneda") || questionType_array.include?("Decimal") && questionType_array.include?("Checkbox No data")  %>

				<!-- Ńúmeros y Checkbox No Data Questions -->
				<% if answerQuestion_array.include?("No data") %>
				<div class="col-12">
					<!-- Nombre de la sección -->
					<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
					<%= s.recommendation_no_data.html_safe rescue "" %>
				</div>
				<% elsif answerQuestion_array.include?("Data") %>
					<div class="col-12">
						<% if answerQuestion_array.include?("Confirm") %>
							<% Question.where(section_id: s.id, question_type: "Checkbox").order('id ASC').each  do |qa| %>
								<!-- Nombre de la sección -->
								<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
								<%= qa.question.html_safe rescue "" %>
							<% end %>
						<% elsif answerQuestion_array.include?("No confirm") %>
							<% if answerQuestion_array[0].to_f == 0 && answerQuestion_array[1].to_f == 0 %>
								<!-- Nombre de la sección -->
								<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
								<p class="text-left"><small>Ambas cantidades son igual a cero por favor verifique los datos</small></p>

							<% else %>
								<!-- Nombre de la sección -->
								<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
								<!-- Calculo -->
								<% @brecha = (((answerQuestion_array[0].to_f-answerQuestion_array[1].to_f)/(answerQuestion_array[0].to_f+answerQuestion_array[1].to_f))*100).to_f %>

								<!-- Mensaje de alerta_-->
			   				<% if @brecha.to_f >= 0 && @brecha.to_f > (s.gap_max).to_f %>
			   					<!-- Gráfico -->
								<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   					<br>
			   					<%= s.recommendation_gap_max.html_safe rescue "" %>
			   					<br><br>
			   				<% elsif @brecha.to_f >= 0 && @brecha.to_f >= (s.gap_porcent).to_f  && @brecha.to_f <= (s.gap_max).to_f %>
			   					<!-- Gráfico -->
									<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   					<br>
			   					<%= s.recommendation.html_safe %>
			   					<br><br>
			   				<% elsif @brecha.to_f < 0 %>
			   					<br>
			   					<%= s.recommendation_negative.html_safe rescue "" %>
			   					<br><br>
			   				<% else %>
			   				<!-- Gráfico -->
									<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   					<br>
			   					<h5 class="text-center"><b>¡Buen trabajo!</b></h5>
			   					<br>
			   				<% end %>
							<% end %>
						
						<% else %>
							<% if answerQuestion_array[0].to_f == 0 && answerQuestion_array[1].to_f == 0 %>
								<!-- Nombre de la sección -->
								<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
								<p class="text-left"><small>Ambas cantidades son igual a cero por favor verifique los datos</small></p>

							<% else %>
								<!-- Nombre de la sección -->
								<h5 class="darkblue-color"><b><%= i+1 %>. <%= s.name %></b></h5>
								<!-- Calculo -->
								<% @brecha = (((answerQuestion_array[0].to_f-answerQuestion_array[1].to_f)/(answerQuestion_array[0].to_f+answerQuestion_array[1].to_f))*100).to_f %>

								<!-- Mensaje de alerta_-->
			   				<% if @brecha.to_f >= 0 && @brecha.to_f > (s.gap_max).to_f %>
			   					<!-- Gráfico -->
								<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   					<br>
			   					<%= s.recommendation_gap_max.html_safe rescue "" %>
			   					<br><br>
			   				<% elsif @brecha.to_f >= 0 && @brecha.to_f >= (s.gap_porcent).to_f  && @brecha.to_f <= (s.gap_max).to_f %>
			   					<!-- Gráfico -->
									<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   					<br>
			   					<%= s.recommendation.html_safe %>
			   					<br><br>
			   				<% elsif @brecha.to_f < 0 %>
			   					<br>
			   					<%= s.recommendation_negative.html_safe rescue "" %>
			   					<br><br>
			   				<% else %>
			   				<!-- Gráfico -->
									<%= bar_chart [["BRECHA IDEAL (%)", s.gap_porcent.to_s],["BRECHA OBTENIDA (%)", (@brecha).round(1)]], colors: ["#9FD52E", "#666"], stacked: true %>
			   					<br>
			   					<h5 class="text-center"><b>¡Buen trabajo!</b></h5>
			   					<br>
			   				<% end %>
							<% end %>
						<% end %>
					</div>
				<% else %>

				<% end %>


			<!-- Rango de Numeros -->
			<% elsif questionType_array.include?("Rango de Numeros") %>
				<% Question.where(section_id: s.id).order('id ASC').each_with_index  do |q, number| %>
					<div class="col-12">
						<br>
						<h5 class="text-center darkblue-color"><b>PREGUNTA <%= number+1 %></b></h5>
						<h6 class="text-center"><b><i><%= q.question.html_safe rescue "" %></i></b></h6>
						<% Answer.where(question_id: q.id).order('id ASC').each do |a| %>
							<% case a.answer_question %>
								<% when "1" %>
									<%= pie_chart [["Hombres", "0"],["Mujeres", "100"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad exclusiva para mujeres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "2" %>
									<%= pie_chart [["Hombres", "25"],["Mujeres", "75"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad donde participan más las mujeres que los hombres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "3" %>
									<%= pie_chart [["Hombres", "50"],["Mujeres", "50"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad donde la participación de hombres y mujeres es equitativa (50/50)</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "4" %>
									<%= pie_chart [["Hombres", "75"],["Mujeres", "25"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad donde participan más los hombres que las mujeres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% when "5" %>
									<%= pie_chart [["Hombres", "100"],["Mujeres", "0"]], colors: ["#9FD52E", "#666"], stacked: true  %>
									<p class="text-center aqua-color"><b>Actividad exclusiva para hombres</b></p>
									<br>
									<p><b>Recomendación:</b></p>
									<%= q.recommendation.html_safe rescue "" %>
								<% else %>

								<% end %>
							<br>
						<% end %>
					</div>
				<% end %>
			
			<!-- Checkbox -->
			<% elsif questionType_array.include?("Checkbox")  %>
					<% Question.where(section_id: s.id).order('id ASC').each do |qq| %>
						<div class="col-md-3 text-center">
							<% Answer.where(question_id: qq.id).order('id ASC').each do |a| %>
								<% if qq.id == 127 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/igualdad2.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons") %>
										<br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/igualdad2.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img") %>
										<br>
									<% end %>
								<% elsif qq.id == 128 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/politico.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons") %>
										<br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/politico.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img") %>
										<br>
									<% end %>
								<% elsif qq.id == 129 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/mujer.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons") %>
										<br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/mujer.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img") %>
										<br>
									<% end %>
								<% elsif qq.id == 130 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/dinero.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img") %>
										<br>
									<% else %>
										<%= image_tag("/images/dinero.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons") %>
										<br>
										<h6 class="text-center"><b>¡SI BRINDA FINANCIAMIENTO!</b></h6>
									<% end %>
								<% elsif qq.id == 131 %>
									<br>
									<% if a.answer_question == "Confirm" %>
										<%= image_tag("/images/garantia.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons") %>
										<br>
										<h6 class="text-center"><b>¡Buen trabajo!</b></h6>
									<% else %>
										<%= image_tag("/images/garantia.png", alt:"Lutheran World Relief", class:"img-fluid answer-icons gray-img") %>
										<br>
									<% end %>
								<% else %>

								<% end %>
							<% end %>
							<%= qq.question.html_safe %>
							<br><br>
						</div>
					<% end %>

			<% else %>

			<% end %>
		<% end %>
		<!-- Array de secciones - End -->
	</div>
</div>
<br><br>
