<%
# @type @survey [Survey]
# @type current_user [User]
%>

<!-- Header container -->
<%= render "home/partials/navbar"%>

<!-- Diágnostico -->
<div class="container" >
  <div class="row">
    <div class="col-lg-12" style="margin-top: 25px; margin-bottom: 25px">
      <h4>
        <i class="fas fa-clipboard-list"></i>&nbsp; Encuesta:&nbsp;<%= @survey.name %>
        <span class="btn bg-success float-right text-white">
            Diagnóstico: <%= @counter %>
        </span>
      </h4>
    </div>
    <div class="col-lg-12">
      <%= @survey.indications.html_safe rescue "" %>
    </div>
    <div class="col-lg-12">
      <!-- Listado de secciones -->
      <%= form_with url: home_insert_data_path,  method: :post do |form| %>
        <% if @diagnostic %>
          <%= hidden_field_tag 'diagnostic_id', @diagnostic.id %>
        <% end %>
        <%= hidden_field_tag 'survey_id', @survey.id %>
        <table class="table">
          <tbody>
          <% @survey.sections.order('id ASC').each  do |section| %>
            <% ans = @answers[section.id] %>
            <% section.answers_idx = (ans.nil? ? {} : ans.index_by{|a| a.question_id}) %>
            <%= render partial: "home/partials/show_form_section",
                       locals: {
                         section: section,
                         current_user: current_user,
                         form: form
                       } %>
          <% end %>
          </tbody>
        </table>
        <br/>
        <div class="col-md-12">
          <a href="<%= home_index_url %>" class="btn btn-danger">
            Cancelar
          </a>
          <button type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-save"></i> Guardar y ver resultados
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br><br>
<style type="text/css">
    .radio-button-label:hover,
    .radio-button-label input:hover{

        cursor:pointer
    }
</style>