<%
# @type @survey [Survey]
# @type @diagnostic [Diagnostic]
# @type current_user [User]

first_survey_id_to_create = Diagnostic.first_survey_id_to_create
can_fill_survey = (@diagnostic.nil? &&  first_survey_id_to_create == @survey.id) ||
                  (!@diagnostic.nil? && (
                      @diagnostic.has_survey_id(@survey.id) ||
                      @diagnostic.can_create_survey_id(@survey.id
                    ))
                  )

%>

<!-- Header container -->
<%= render "home/partials/navbar"%>

<!-- Diágnostico -->
<div class="container" >
  <div class="row">
    <div class="col-lg-12" style="margin-top: 25px; margin-bottom: 25px">
      <h4>
        <i class="fas fa-clipboard-list"></i>&nbsp; Encuesta:&nbsp;<%= @survey.name %>
        <span class="btn bg-success float-right text-white">
            Diagnóstico: <%= @counter %>
        </span>
      </h4>
    </div>

    <% if can_fill_survey %>

    <div class="col-lg-12">
      <%= @survey.indications.html_safe rescue "" %>
    </div>
    <div class="col-lg-12">

      <div class="col-md-12 text-right" style="padding-bottom: 20px">
        <a href="<%= home_index_url %>" class="btn btn-danger">
          Cancelar
        </a>
      </div>

      <!-- Listado de secciones -->
      <%= form_with url: home_insert_data_path,  method: :post do |form| %>
        <% if @diagnostic %>
          <%= hidden_field_tag 'diagnostic_id', @diagnostic.id %>
        <% end %>
        <%= hidden_field_tag 'survey_id', @survey.id %>
        <table class="table">
          <tbody>
          <% @survey.sections.order('id ASC').each  do |section| %>
            <% ans = @answers[section.id] %>
            <% section.answers_idx = (ans.nil? ? {} : ans.index_by{|a| a.question_id}) %>
            <%= render partial: "home/partials/show_form_section",
                       locals: {
                         section: section,
                         current_user: current_user,
                         form: form
                       } %>
          <% end %>
          </tbody>
        </table>
        <br/>
        <div class="col-md-12">
          <a href="<%= home_index_url %>" class="btn btn-danger">
            Cancelar
          </a>
          <button type="submit" class="btn btn-primary pull-right">
            <i class="fa fa-save"></i> Guardar y ver resultados
          </button>
        </div>
      <% end %>
    </div>

    <% else %>
    <%
      survey_id = @diagnostic.nil? ? first_survey_id_to_create : @diagnostic.next_survey_id_to_create
      index = @diagnostic.nil? ? 1 : @diagnostic.next_survey_index_to_create + 1
      @survey = Survey.find(survey_id)
      url = home_path(id: @survey.id, diagnostic: (@diagnostic.nil? ? nil : @diagnostic.id))
    %>
    <div class="col-md-offset-3 col-md-6">
      <h5>
        <div>Esta encuesta aún no puede ser creada.</div>
        <div>Por favor proporcionar información de la encuesta:</div>
      </h5>
      <br>
      <div>
        <a href="<%= url %>" class="btn btn-lg btn-primary">
          <%= index %>. <%= @survey.name %>
        </a>
        <a href="<%= home_index_url %>" class="btn btn-lg btn-danger">
          Cancelar
        </a>
      </div>
    </div>

    <% end %>
  </div>
</div>
<br><br>
<style type="text/css">
    .radio-button-label:hover,
    .radio-button-label input:hover{
        cursor:pointer
    }
</style>