<div class="container">
	<div class="row">
		<div class="col-md-2">
			<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;Regresar'), :back, class: "btn btn-secondary", title:"Regresar a todas las encuestas" %>
		</div>
		<div class="col-md-8">
			<h4 class="text-center">
				<b><i class="fas fa-clipboard-list"></i></b>
				&nbsp;Editar Pregunta
				<br><br>
				</b>
			</h4>
			<h5 class="text-center">
				ID: <%= @question.id %>
				<%= Question.where(id: @question.id).last.question.html_safe rescue nil %> 
			</h5>
		</div>
	</div>
	<br>
	<%= simple_form_for [:admin, @question] do |f| %>
		<br>
		<%= render partial: "admin/questions/partials/form", locals: { f: f } %>
		<div class="text-center">
			<%= f.submit ("Guardar pregunta") , class: "btn btn-primary", title: "Guardar datos" %>
    	<%= link_to raw('<i class="fas fa-arrow-circle-left"></i>&nbsp;Regresar'), admin_surveys_path, class: "btn btn-secondary", title:"Regresar a todas las encuestas" %>
		</div>
		<br>
	<% end %>
</div>