<% date = Answer.where(survey: survey.id, user_email: user.email).last.created_at %>

<div class="row">
  <% partial = "home/partials/historic_org_user_field" %>
  <%= render partial: partial, locals: { title: raw('<i class="fa fa-calendar"></i> Fecha'), value: date.strftime("%d-%m-%Y") } %>
  <%= render partial: partial, locals: { title: raw('<i class="fa fa-user"></i> Representante'), value: user.name } %>
  <%= render partial: partial, locals: { title: raw('<i class="fa fa-envelope"></i> Correo'), value: user.email } %>
  <%= render partial: partial, locals: { title: raw('<i class="fa fa-globe"></i> País'), value: user.country_name } %>
  <%= render partial: partial, locals: { title: raw('<i class="fa fa-phone"></i> Teléfono'), value: "#{user.zipcode} #{user.phone_number}" } %>
</div>