<!------------------------------------- Ńúmeros y Checkbox No Data Questions -->
<div class="col-12" style="margin-top: 50px">
  <h5 class="darkblue-color">
    <b><%= sectionIndex + 1 %>. <%= section.name %></b>
  </h5>
</div>
<div class="col-12">
  <h6>
    Hombres <%= user_answers.section_men(section) %> |
    Mujeres <%= user_answers.section_women(section) %>
  </h6>
</div>

<% if user_answers.section_include(section, "No data") %>

  <%= render partial: "home/partials/historic_answer_data", locals: {
    data: section.recommendation_no_data.html_safe
  } %>

<% elsif user_answers.section_include(section, "Data") %>

  <% if user_answers.section_include(section, "Confirm") %>

    <% section.questions.where(question_type: "Checkbox").order('id ASC').each  do |qa| %>
      <%= render partial: "home/partials/historic_answer_data", locals: {
        data: qa.question.html_safe
      } %>
    <% end %>

  <% else %>

    <% brecha = user_answers.section_gab(section) %>
    <% if brecha != false and brecha.to_f > 0 %>
      <%= render partial: "home/partials/historic_answer_barchart", locals: {
        data: user_answers.barchart_gab_avg_real(
          section.gap_porcent.to_s,
          brecha.round(1)
        ),
        colors: user_answers.barchar_colors()
      } %>
    <% end %>

    <%= render partial: "home/partials/historic_answer_data", locals: {
      data: user_answers.section_gab_message(section)
    } %>
  <% end %>
<% end %>