<%
  render_format = ((local_variables.include?(:render_format) ? render_format : 'html'))
  cssClass = 'img-fluid answer-icons ' + (confirm ? '' : 'gray-img')
  message = confirm ? '¡Buen trabajo!' : '¡Se necesita mejorar!'
  title = confirm ? title_yes : title_no
%>

<br>
<% if render_format == 'pdf' %>
  <div class="row" style="margin-bottom: 20px">
    <div class="col-3">
      <%= wicked_pdf_image_tag "images/#{image}", class: cssClass %>
    </div>
    <div class="col-9">
      <p><%= question.question.html_safe %></p>
      <h6 class="text-center">
        <b><%=message %></b>
      </h6>
    </div>
  </div>

<% else %>
  <small class="question-item"><%= question.question.html_safe %></small>
  <p><b>Resultado:</b></p>
  <%= image_tag(image, alt:"Lutheran World Relief", class:cssClass, title: title) %>
  <br><br>
  <h6 class="text-center">
    <b><%=message %></b>
  </h6>
<% end %>
