<!-- Menú principal -->
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-6 text-right">
			<%= link_to "<i class='fa fa-id-card-alt' aria-hidden='true'></i> Sobre nosotros".html_safe,
                  "https://lwr.org/about-lwr",
                  class: "btn btn-outline-primary",
                  target: "_blank" %>

			<%= link_to "<i class='fa fa-envelope-open' aria-hidden='true'></i> Contactanos".html_safe,
                  "https://lwr.org/contact-us",
                  class: "btn btn-outline-primary",
                  target: "_blank" %>

			<% if !user_signed_in? %>
        <%= link_to "<i class='fa fa-user' aria-hidden='true'></i> Iniciar sesión".html_safe,
                    new_user_session_path,
                    class: "btn btn-outline-primary" %>

        <%= link_to "<i class='fa fa-lock' aria-hidden='true'></i> Admin".html_safe,
                    'admins/sign_in',
                    class: "btn btn-outline-primary" %>
      <% else %>
				<%= link_to "<i class='fa fa-user'></i> Perfil".html_safe,
                    edit_user_home_index_path,
                    class: "btn btn-outline-primary",
                    remote: true %>

				<%= link_to "<i class='fa fa-sign-out-alt' aria-hidden='true'></i> Salir".html_safe,
                    destroy_user_session_path,
                    method: :delete,
                    class: "btn btn-outline-primary" %>
			<% end %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4 offset-md-4 text-center">
			<br>
			<%= link_to( image_tag("lwr-logotag.png", alt:"Lutheran World Relief", class:"img-fluid"), home_index_path) %>
			<br><br>
		</div>
	</div>
</div>
<div id="profile_edit"></div>