<!DOCTYPE html>
<html>
  <head>
    <title>Evaluación y Seguimiento APP de Género</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= image_path('/assets/lwr-logotag.ico') %>" rel="shortcut icon" type="image/x-icon" />
    <link href="<%= image_path('/assets/lwr-logo.png') %>" rel="icon" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <!-- Notifications -->
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
      </script>
    <% end %>
    <!--navbar menu -->
    <% if admin_signed_in? %>
      <%= render "partials/navbar"%>
    <% end %>

    <!-- main container -->
  
    <section class="container-fluid main-container">
      <%= yield %>
    </section>
      <!-- footer container -->
      <%= render "partials/footer"%>
  </body>
</html>
